* {
  hyphens: auto;
}

body,
main,
.fondo1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
}

strong {
  color: #13bf9e;
}

.modal-body strong {
  color: #000000;
}

em {
  font-weight: 700;
  border-bottom: 1px solid;
}

a {
  color: #104276;
}

.bck-general {
  background-color: #e5f9f7 !important;
}

.bck-blue {
  background-color: #104276;
}

.bck-light-blue {
  position: relative;
  background-color: #2083ec;
}
.bck-light-blue::before,
.bck-light-blue::after {
  content: "";
  position: absolute;
  width: calc(100% - 28px);
  left: 14px;
  -webkit-box-shadow: 0px -14px 0px 14px #2083ec;
  -moz-box-shadow: 0px -14px 0px 14px #2083ec;
  box-shadow: 0px -14px 0px 14px #2083ec;
}

.bck-light-blue::before {
  top: 0;
}

.bck-light-blue::after {
  bottom: -27px;
}

.volver {
  text-decoration: none;
}

.close {
  background-color: #13bf9e;
  line-height: 1;
  font-size: 25px;
  padding: 8px 12px !important;
}

.btn-outline-info {
  border-color: #fff;
  color: #fff;
}

.btn-outline-info:hover {
  border-color: #2083ec;
  background-color: #2083ec;
  color: #fff;
}

.vh-100 {
  min-height: 100vh;
  min-height: 100dvh;
}

.he-100 {
  height: 100%;
}

.fondo1 {
  background-color: #10108e;
}

.img-index {
  margin-left: -120px;
  max-width: calc(100% + 120px);
  z-index: 1;
}

.logo {
  top: 3rem;
}

.logo-2 {
  width: 120px;
  height: auto;
}

#zoom {
  height: 60vh;
  overflow: hidden;
  border: 2px solid;
}

#scene {
  cursor: grabbing;
  margin: auto;
  height: -webkit-fill-available;
}

.card.blue {
  background-color: #2083ec;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(25, 86, 142, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(25, 86, 142, 1);
  box-shadow: 10px 10px 0px 0px rgba(25, 86, 142, 1);
}

.modal {
  background-color: #ffffff;
}

.modal.blue .modal-content {
  background-color: rgba(32, 131, 236, 0.45);
}

.buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.buttons .zoom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 4px;
  padding: 3px;
}

.iconoM {
  margin-right: 15px;
}

.barra {
  margin: 0px;
  background-color: #2e926b;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.imgM {
  width: 100% !important;
  border: none;
  outline: none;
}

.btn-sintomas {
  background-color: transparent !important;
  padding: 0 !important;
  outline: none !important;
  border: none !important;
  width: 100%;
}
.ajustarh1 {
  display: block;
  justify-content: end;
}

hr {
  border-top: 2px solid;
  opacity: 1;
}

hr.dashed {
  border-top: 2px dashed #ffffff;
  opacity: 1;
}

.weight-400 {
  font-weight: 400;
}

.border-bottom,
.border-start {
  border-color: #000000 !important;
}

.fondoPrincipal {
  background-color: rgba(32, 131, 236, 0.35);
}

.fondoSecundario {
  background-color: #2d4490;
}

.accordion-item .accordion-header button {
  font-weight: 700;
  color: #000000;
  font-size: 20px;
}

.accordion-item:nth-child(1),
.accordion-item:nth-child(1) .accordion-header button {
  background-color: #c8e7ee;
}
.accordion-item:nth-child(2),
.accordion-item:nth-child(2) .accordion-header button {
  background-color: #58bee3;
}
.accordion-item:nth-child(3),
.accordion-item:nth-child(3) .accordion-header button {
  background-color: #13b6ed;
}

.accordion-button::after {
  background-color: #000000;
  background-image: none;
  content: ">";
  color: white;
  transform: rotate(90deg);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
  transform: rotate(-90deg);
}

.modal .btn-close {
  width: fit-content;
  height: auto;
  opacity: 1;
}

.modal-dialog {
  max-width: 75vw;
  max-width: 75dvw;
}

.modal-content {
  background-color: #e5f9f7;
}

.btn-salir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  background: none;
}
.btn-salir a {
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.btn-salir a:hover {
  color: #fff;
}
.btn-salir a span {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
  margin-right: 15px;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.btn-salir img {
  max-width: 35px;
  max-height: 35px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid white;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.btn-salir.dark img {
  background-color: #13bf9e;
}
.btn-salir.dark a {
  color: #1a1a1a;
}
.btn-salir:hover span {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.btn-salir:hover img {
  cursor: pointer;
  background-color: #13bf9e;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
